<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>ACE in Action</title>
<style type="text/css" media="screen">
    #editor {
        /*position: absolute;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 450px;
        width: 600px;
    }
    #editor2 {
        /*position: absolute;*/
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 450px;
        width: 300px;
    }

</style>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js"></script>

    <table>
        <form action="run">

            <tr>
                <th>请输入数据库地址:
                    <input th:value="${dbPath}" type="text" name="dbPath">
                    <input type="submit" value="Search" formaction="search">
                </th>
            </tr>

            <tr>
                <th>
                    <textarea th:text="${ids}" name="ids"></textarea>
                    <input th:value="${id}" type="text" name="id">
                    <input type="submit" value="Get" formaction="get">
                </th>
            </tr>

            <tr>
                <th>
                    <div th:text="${code}" id="editor"></div>
                </th>
                <th  style="width: 50px">
                    <input type="submit" value="Run">
                </th>
                <th>
                    <div th:text="${result}" id="editor2"></div>
                </th>
            </tr>
        </form>
    </table>


<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    editor.setOption("wrap", "free");

    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/monokai");
    editor2.session.setMode("ace/mode/javascript");
    editor2.setOption("wrap", "free");
</script>
</body>
</html>