<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<script th:src="@{/layui/layui.js}"></script>
<script>
layui.use('table', function(){
  var table = layui.table;

  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 600
    ,url: '/employee/manage' //数据接口
    ,page: true //开启分页
    ,cols: [
            [ //表头
      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
      ,{field: 'lastName', title: '用户名', width:80}
      ,{field: 'gender', title: '性别', width:80, sort: true}
      ,{field: 'email', title: '邮箱', width:80}
      // ,{field: 'department', title: '部门', width:80}
      ,{field: 'birth', title: '生日', width: 177}
      ]
    ]

  });

});
</script>
</body>
</html>