<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Dashboard Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">

		<!-- Custom styles for this template -->
		<link th:href="@{/css/dashboard.css}" rel="stylesheet">

		<!-- 代码编辑器格式 -->
		<style type="text/css" media="screen">
			#editor {
				/*position: absolute;*/
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 440px;
				width: 600px;
			}
			#editor2 {
				/*position: absolute;*/
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				height: 440px;
				width: 600px;
			}
		</style>

		<!--JQuery依赖和三个Ajax请求-->
		<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script>
			var parsed_object;

			// 获取一个随机的用例并填充其对应的3个ID值
		  	function getATestcase() {
			$.post({
				url: "getATestcase",
				data: {},
				success: function(data) {
					// 获取传回的值并填充
					parsed_object = JSON.parse(data);
					$("#SuspiciousId").text("SuspiciousId:" + parsed_object["suspiciousId"]);
					$("#HarnessId").text("HarnessId:" + parsed_object["harnessId"]);
					$("#TestcaseId").text("TestcaseId:" + parsed_object["testcaseId"]);
					setValue(editor, parsed_object["testcase"]);

				},
				error: function(){ alert("Ajax出错啦！")}
			});
		  }

		  	// 用例执行的异步请求
		    function run(code) {
				$.post({
					url: "run",
					data: {code : code},
					success: function(result) {
						// result为该用例执行的结果，将其赋给右边的代码编辑器
						setValue(editor2, result);
					},
					error: function(){ alert("Ajax出错啦！")}
				});
			}

		    // 用例还原的异步请求
		    function recoverTestcase() {
				$.post({
					url: "recoverTestcase",
					data: {testcaseId : parsed_object['testcaseId']},
					success: function(data) {
						// data为还原之后的测试用例
						setValue(editor, data);
					},
					error: function(){ alert("Ajax出错啦！")}
				});
			}

			// 提交保存用例的异步请求
			function submitTestcase() {
				$.post({
					url: "submitTestcase",
					data: {suspiciousId: parsed_object["suspiciousId"], testcaseId: parsed_object["testcaseId"],
						simplifiedCase: editor.getValue(), assignee: $('#username').text().split(' ')[1]},
					success: function(data) {
						if (data === '1') {
							alert("用例提交成功!");
							setTimeout(function(){location.reload()}, 1000);
						} else {
							alert("用例提交失败，请重试!");
						}
					},
					error: function(){ alert("用例提交失败，请重试!")}
				});
			}

			// 打开提交的弹窗
		    function openSubmitWindow() {
				layer.open({
				    type: 1,
				    skin: 'layui-layer-rim', //加上边框
				    area: ['400px', '500px'], //宽高
				    content:
						`
						<form class="layui-form">

						  <div class="layui-form-item">
							<label class="layui-form-label">操作人：</label>
							<div class="layui-input-block">
							  <input id="assignee" type="text" class="layui-input" style="width: 200px; background-color: #c6c8ca" readonly="readonly">
							</div>
						  </div>

						<!--  <div class="layui-form-item">-->
						<!--    <label class="layui-form-label">SusId：</label>-->
						<!--    <div class="layui-input-block">-->
						<!--      <input id="susId" type="text" class="layui-input" style="width: 200px; background-color: #c6c8ca" readonly="readonly">-->
						<!--    </div>-->
						<!--  </div>-->

						<!--  <div class="layui-form-item">-->
						<!--    <label class="layui-form-label">CaseId：</label>-->
						<!--    <div class="layui-input-block">-->
						<!--      <input id="caseId" type="text" class="layui-input" style="width: 200px; background-color: #c6c8ca" readonly="readonly">-->
						<!--    </div>-->
						<!--  </div>-->

						  <div class="layui-form-item">
							<label class="layui-form-label">是否提交精简后用例：</label>
							<div class="layui-input-block">
							  <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
							</div>
						  </div>
						<!--  <div class="layui-form-item">-->
						<!--    <label class="layui-form-label">开关-默认开</label>-->
						<!--    <div class="layui-input-block">-->
						<!--      <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">-->
						<!--    </div>-->
						<!--  </div>-->


						  <div class="layui-form-item">
							<div class="layui-input-block">
							  <button class="layui-btn" onclick="submitTestcase()">立即提交</button>
						<!--      <button class="layui-btn layui-btn-primary">取消</button>-->
							</div>
						  </div>
						</form>
						`
				});

				layui.use('form', function(){
				  var form = layui.form;
				  var username = $('#username').text().split(' ')[1];
				  form.render();
				  $('#assignee').attr('value', username);

				  // $('#susId').attr('value', parsed_object["suspiciousId"]);
				  // $('#caseId').attr('value', parsed_object["testcaseId"]);

				  //监听提交
				  // form.on('submit(formDemo)', function(data){
					// layer.msg(JSON.stringify(data.field));
					// return false;
				  // });
				});
			}


		</script>
	</head>

	<body>
		<script th:src="@{/layui/layui.all.js}" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js"></script>

		<div th:replace="~{/commons/commons::topbar(page='BugAnalyse.html')}"></div>

		<div class="container-fluid">
			<div class="row">

				<div th:replace="~{/commons/commons::sidebar(page='BugAnalyse.html')}"></div>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
						<h1 id="PageTitle" class="h2">分析用例</h1>
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary" onclick="getATestcase()">获取用例</button>
							<button class="btn btn-sm btn-outline-secondary" onclick="run(editor.getValue())">运行</button>
							<button class="btn btn-sm btn-outline-secondary" onclick="openSubmitWindow()">提交</button>
							<button class="btn btn-sm btn-outline-secondary" onclick="recoverTestcase()">恢复用例</button>
						</div>
						<div>
							<ul>
								<li><span id="SuspiciousId"></span></li>
								<li><span id="HarnessId"></span></li>
								<li><span id="TestcaseId"></span></li>
							</ul>

						</div>
						<div class="btn-toolbar mb-2 mb-md-0">
							<div>
								<span>当前共有[[${allNumber}]]条可疑用例，其中[[${analysedNumber}]]条已分析，剩余[[${noAnalysedNumber}]]条需要分析。</span>
							</div>
						</div>
					</div>

					<!--两个代码输入框组件-->
					<table>
						<tr>
							<th><div id="editor"></div></th>
							<th><div id="editor2"></div></th>
						</tr>
					</table>

				</main>
			</div>
		</div>
		<script src="/layer-v3.1.1/layer/layer.js"></script>

		<!--代码输入框的渲染及取值脚本-->
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/monokai");
			editor.session.setMode("ace/mode/javascript");
			editor.setOption("wrap", "free");

			var editor2 = ace.edit("editor2");
			editor2.setTheme("ace/theme/monokai");
			editor2.session.setMode("ace/mode/scheme");
			editor2.setOption("wrap", "free");
			editor2.setReadOnly(true);   <!-- editor2为显示结果，改为只读 -->

			function setValue(node, data) {
				node.setValue(data);
			}
		</script>
	</body>
</html>